<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77879755454-7r1p33b2l6m92fpla7aji93j7imknoge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77879755454-7r1p33b2l6m92fpla7aji93j7imknoge</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>77879755454-te09bdq386bhmhcnkdos9e20ufirm3cc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7dFi0ixQRazYcBZ6UDUMAzKJqMygmGs8</string>
	<key>GCM_SENDER_ID</key>
	<string>77879755454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>tuchati-553f8</string>
	<key>STORAGE_BUCKET</key>
	<string>tuchati-553f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77879755454:ios:a93c7d4a180e9b7453d4ef</string>
</dict>
</plist>